.box {
  /* margin-left: 800px; */
  position: relative;
  /* left: 950px; */
  /* left: 25px; */
  margin-top: 20px;
  /* border: 1px solid #000; */
  /* top: 250px; */
  color: white;
  /* background-color: white; */
  width: 60px;
}

.qbtn {
  width: 40px;
  height: 40px;
  background-color: rgb(227, 226, 226);
  color: white;
  text-align: center;
  outline: none;
  border: none;
  padding: 0px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 5px;
}
.qbtn:focus {
  outline: none;
  border: none;
}
.qbtn:hover {
  background-color: white;
}

.qbtn:hover .tool {
  visibility: visible;
}
.qbtn .tool {
  visibility: hidden;
  margin-left: 10px;
  width: 150px;
  font-size: 20px;
  padding: 0px;
  background-color: #f84298;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .box {
    right: auto; /* Remove the right offset */
    top: 0; /* Move to the top */
    width: calc(100% + 20px); /* Increase the width by 20px */
    /* margin-bottom: 20px;
    margin-right: 10px; */
    /* top: 80px;
    left: 45px; */
  }
  .qbtn {
    width: 40px;
  }

  .qbtn:focus .tool {
    visibility: visible;
  }
}
